In [1]:
import pandas as pd
import numpy as np

In [2]:
# files paths
disney_file = "../resources/disney_plus_shows.csv"
netflix_file = "../resources/netflix_titles.csv"
#multi_file = "../resources/MoviesOnStreamingPlatforms_updated.csv"

In [3]:
# load into dataframe
df_disney = pd.read_csv(disney_file)
df_netflix = pd.read_csv(netflix_file)
#df_multi = pd.read_csv(multi_file)

In [4]:
df_disney.head()

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018–,25 Mar 2019,"February 28, 2020",NaN,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",NaN,NaN,6.2,124
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"

In [6]:
df_disney["imdb_id"].count()

894

In [5]:
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [7]:
df_netflix["show_id"].count()

7787

In [33]:
# clean up disney dataframe
df_disney_clean = df_disney[["imdb_id", "title", "type", "rated", "year", "director", "country"]]

# filter 
df_disney_clean = df_disney_clean.loc[df_disney_clean["type"] == "movie"]
df_disney_clean.columns = ["ID", "Title", "Type", "Rated", "ReleaseYear", "Director", "Country"]
#df_disney_clean["ID"] = df_disney_clean["ID"].str.strip("t")
#df_disney_clean["ID"] = df_disney_clean["ID"].astype(int)
df_disney_clean["ReleaseYear"] = df_disney_clean["ReleaseYear"].fillna(0)
df_disney_clean["ReleaseYear"] = df_disney_clean["ReleaseYear"].astype(int)
df_disney_clean = df_disney_clean.set_index("ID")
df_disney_clean.head()

,Title,Type,Rated,ReleaseYear,Director,Country
ID,,,,,,
tt0147800,10 Things I Hate About You,movie,PG-13,1999,Gil Junger,USA
tt0115433,101 Dalmatians,movie,G,1996,Stephen Herek,"USA, UK"
tt0324941,101 Dalmatians 2: Patch's London Adventure,movie,G,2002,"Jim Kammerud, Brian Smith",USA
tt0211181,102 Dalmatians,movie,G,2000,Kevin Lima,"USA, UK"
tt1846442,12 Dates of Christmas,movie,PG,2011,James Hayman,USA

In [34]:
df_netflix_clean = df_netflix[["show_id", "type", "title", "director", "country", "release_year", "rating"]]
df_netflix_clean = df_netflix_clean.loc[df_netflix_clean["type"] == "Movie"]
df_netflix_clean.columns = ["n_ID", "Type", "Title", "Director", "Country", "ReleaseYear", "Rating"]
#df_netflix_clean["n_ID"] = df_netflix_clean["n_ID"].str.strip("s")
#df_netflix_clean["n_ID"] = df_netflix_clean["n_ID"].astype(int)
df_netflix_clean = df_netflix_clean.set_index("n_ID")
df_netflix_clean.head()

       Type  Title           Director        Country  ReleaseYear Rating
n_ID
s2    Movie   7:19  Jorge Michel Grau         Mexico         2016  TV-MA
s3    Movie  23:59       Gilbert Chan      Singapore         2011      R
s4    Movie      9        Shane Acker  United States         2009  PG-13
s5    Movie     21     Robert Luketic  United States         2008  PG-13
s7    Movie    122    Yasir Al Yasiri          Egypt         2019  TV-MA

In [36]:
df_netflix_director = df_netflix_clean[["Title", "Director"]]
#df_netflix_director.fillna("N/A", inplace=True)
df_netflix_director.reset_index(inplace=True)
df_netflix_director.set_index(["n_ID", "Title"], inplace=True)
#stack = df_netflix_director["Director"].apply(pd.Series).stack()
#df_stack = pd.DataFrame(stack)
#df_stack.head()

In [21]:
#df_stack = df_stack.reset_index()
#df_stack.head()

  n_ID  Title  level_2                  0
0   s2   7:19        0  Jorge Michel Grau
1   s3  23:59        0       Gilbert Chan
2   s4      9        0        Shane Acker
3   s5     21        0     Robert Luketic
4   s7    122        0    Yasir Al Yasiri

In [22]:
#df_stack = df_stack.drop("level_2", axis=1)
#df_stack.head()

  n_ID  Title                  0
0   s2   7:19  Jorge Michel Grau
1   s3  23:59       Gilbert Chan
2   s4      9        Shane Acker
3   s5     21     Robert Luketic
4   s7    122    Yasir Al Yasiri

In [23]:
#df_stack.columns=["n_ID", "Title", "Name"]
#df_stack = df_stack[["n_ID", "Name"]]
#df_stack.set_index("n_ID", inplace=True)

In [24]:
#df_stack.head()
#df_multi_clean = df_multi[["ID", "Title", "Year", "Age", "IMDb", "Netflix", "Disney+", "Type", "Directors", "Country"]]
#df_multi_clean.columns = ["m_ID", "Title", "Year", "Age", "IMDB", "Netflix", "DisneyPlus", "Type", "Directors", "Country"]
#df_multi_clean = df_multi_clean.set_index("m_ID")
#df_multi_clean.head()

                   Name
n_ID
s2    Jorge Michel Grau
s3         Gilbert Chan
s4          Shane Acker
s5       Robert Luketic
s7      Yasir Al Yasiri

# Load data to postgresql

In [37]:
from sqlalchemy import create_engine
import json

In [38]:
with open("../dblogin.json") as json_file:
    login = json.load(json_file)
#print(login)
engine = create_engine(f'postgresql://{login["username"]}:{login["password"]}@localhost/{login["database"]}')

In [39]:
# Load disney and set primary key
df_disney_clean.to_sql("DisneyPlus", engine, if_exists="replace")
engine.execute('ALTER TABLE "DisneyPlus" ADD PRIMARY KEY ("ID");')

In [40]:
# Load Netflix and set primary key
df_netflix_clean.to_sql("Netflix", engine, if_exists="replace")
engine.execute('ALTER TABLE "Netflix" ADD PRIMARY KEY ("n_ID");')

In [28]:
# Load multi platform and set primary key
#df_multi_clean.to_sql("Multiplatform", engine, if_exists="replace")
#engine.execute('ALTER TABLE "Multiplatform" ADD PRIMARY KEY ("m_ID");')

In [29]:
# Load netflix title - diretor mapping table
#df_stack.to_sql("Netflix_Director", engine, if_exists="replace")